


body {
    user-select: none;
    height: 100%;
    width: 100%;
    /* margin-top: -20px; */
    margin: 0;
    padding: 0;
}
.first {
    background: url("pexels-pixabay-206359.jpg");
    background-size: cover;
    height: 100vh;
    
    width: 100wh;
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
    /* margin-top:px; */
}
#container {
    /* position: absolute; */
    /* border:2px solid black; */
    z-index:1;
    box-shadow: inset 0 0 10px black, 1px 2px 12px gray, 3px -5px 12px black;
    height: fit-content +10px;
    width: 40%;
    background: linear-gradient(45deg, rgba(0, 128, 0, 0.517), rgba(255, 166, 0, 0.573), rgba(15, 97, 130, 0.776));
    border-radius: 50px;
    padding: 20px;
}
#heading {
    font-variant: small-caps;
    font-size: 42px;
    color: rgb(224, 216, 216);
    text-shadow: 0 0 10px blue, 2px -1px 25px red;
}
.city {
    display: flex;
    justify-content: center;
    height: fit-content;
    flex-wrap: wrap;
    width: auto;
    gap: 6px;
}
#inp {
    padding: 5px;
    font-size: 23px;
    color: rgb(255, 0, 38);
    width: 50%;
    border-radius: 20px;
}
input {
    box-sizing: border-box;
    box-shadow: inset rgba(124, 11, 223, 0.637) 1px 0px 15px 1px;
    border: black;
    border-bottom-color: solid 5px black;
    filter: Brightness(10px);
    cursor: grabbing;
}
::placeholder {
    color: grey;
    letter-spacing: 2px;

}
#show {
    color: white;
    background-color: black;
    border-radius: 50px;
    color: antiquewhite;
    text-shadow: 0 0 10px red;
}
#show:hover {
    background-color: rgb(239, 49, 28);
    color: rgb(236, 235, 235);
    transition: 2s;
    cursor: pointer;
    text-shadow: 0 0 10px red;
    box-shadow: 2px 3px 10px 5px whitesmoke;
}
.inner2 {
    display: flex;
    justify-content: center;
    height: fit-content;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 3px;
    background-color: transparent;

}
#namecity {
    margin-top: 40px;
    

}
#namecity,
#MinTemp,
#MaxTemp,
#visibility {
    border-radius: 20px;
    color: antiquewhite;
    text-shadow: 0 0 10px red;
    width:70%;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    align-items: center;
    border: 2px solid black;
    font-size: 20px;
    background-color: rgba(46, 43, 43, 0.587);
}
.check {
    height: 200px;
    width: 200px;
    animation: game 2s infinite alternate ease-in;
    background: linear-gradient(44deg, rgba(255, 255, 0, 0.884), rgba(255, 166, 0, 0.855), rgba(255, 0, 0, 0.517));
    position: absolute;
    border-radius: 50%;
    margin-top: -500px;
    margin-left: -450px;
}

@keyframes game {
    from {

        box-shadow: 0 0 10px 30px rgba(255, 230, 0, 0.579), 2px -6px 12px 5px rgba(255, 208, 0, 0.626);
        transform: rotate(360deg);
    }

    to {
        box-shadow: 0 0 10px 40px rgba(255, 208, 0, 0.567), 2px -6px 12px 10px rgba(242, 255, 0, 0.572);
        transform: rotate(360deg);

    }
}
@media screen and (max-width:1000px) {
    #heading{
        font-size:30px;
    }
    #namecity,
    #MinTemp,
    #MaxTemp,
    #visibility {
        font-size: 15px;
        width: 100%;
    }
    .check {
        margin-left: -200px;

    }
}